/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* heading section */
nav {
    width: 100%;
    display: inline-flex;
    justify-content: space-between;
    position: fixed;
    border-bottom: solid rgb(189, 187, 187) 1px;
    padding: 4px 15px 0 15px;
}

svg {
    width: 225px;
    height: 31px;
}

#logo {
    text-align: center;
}

#left_icons i {
    float: left;
    margin-right: 8px;
    padding: 6px 9px 8px;
}
#left_icons span {
    vertical-align: middle;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: bold;
}

#right_icons {
    float: right;
}
#subscribe {
    width: 125px;
    height: 32px;
    color: white;
    font-size: 11px;
    font-weight: bold;
    background: #567b95;
    border: solid #4d6d85 1px;
    border-radius: 3px;
    padding: 11px 12px 11px 12px;
}

#login {
    width: 65px;
    height: 32px;
    border: solid #4d6d85 1px;
    border-radius: 3px;
    font-size: 11px;
    font-weight: bold;
    background: #567b95;
    padding: 11px 12px 11px 12px;
    margin-left: 5px;
    color: white;
}

/*  image header section */
.img-header {
  width: 70%;
  margin: 100px auto;
}

.img-header > h1 {
  width: 70%;
  margin: 25px auto;
}

.Alan-Guth {
  width: 100%;
}

figcaption {
 font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 14px;
  margin-right: 25%;
}
figcaption span{
	color: #67686b;
	font-size: 12px;
}

/* Article section */

article{
	width: 45%;
	margin: 0px auto;
}
article p{
	font-family: times new roman;
	font-size:  20px;
	margin-top: 20px;
	margin-bottom: 20px;
}
.date-social{
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 15px auto;
}

.fa{
	display: inline-flex;
	padding-left: 20px;
}
.fa a{
	color: black;
}

/* fixed footer */
.container{
    width: 80%;
    margin: 0 auto;
}
.fixed-footer{
    width: 100%;
    position: fixed;        
    background: #333;
    padding: 10px 0;
    bottom: 0;
}